h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
}

p {
  text-align: justify;
}

.page-title {
  font-size: 41px;
}

.title {
  margin-bottom: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.title-text {
  margin-bottom: -.5em;
}

.subtitle-text {
  width: 100%;
  margin-top: -0.5em;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 920px;
  margin: auto;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.side-bar {
  text-align: left;
  padding-left: 1.5em;
  max-width: 400px;
  min-width: 200px;
  width: 400px;
}

.hflex, .vflex {
  display: flex;
}

.hflex {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project {
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  min-height: 120px;
  overflow: auto;
}

.project-teaser-img {
  box-shadow: 3px 3px 3px lightgrey;
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
  border-radius: 3px;
  border: thin solid grey;
}

.project-teaser {
  display: inline;
  float: left;
  width: 25%;
  padding-right: 1.5em;
}

.project-title {
  font-weight: bold;
}

.project-description {
  text-align: justify;
}

.project-links {
  float: right;
  font-weight: normal;
}

.vflex {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

